/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'PT Serif', serif;
    background-color: var(--color-secondary);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 5px;

}

:root{
    --color-primary: #23272A;
    --color-secondary: #FFFFFF;
    --color-section-bg: #F6F6F6;
    --color-header-bg: #2A5EE8 ;
    --color-accessory: #7289DA;

}

.debug{
    border: 1px solid black;
}


.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/* header */
header{
    background-color: var(--color-header-bg);
}

ul{
    list-style: none;
}

a{
    color: var(--color-secondary);
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

