/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 5px;
}

/* .debug{
    border: 1px solid black;
}  */

:root{
    --color-primary: #23272A;
    --color-secondary: #FFFFFF;
    --color-section-bg: #F6F6F6;
    --color-header-bg: #2A5EE8 ;
    --color-accessory: #7289DA;

}

/* background and utilities */

body{
    background-color: var(--color-secondary);
}

.even{
    background-color: var(--color-section-bg);
}

.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

ul{
    list-style: none;
}

ul>li>a{
    color: var(--color-secondary);
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

h1{
    font-size: 3em;
    padding-bottom: 20px;
} 


/* buttons */

.white-button, .black-button, .purple-button{
    padding: 10px 15px;
    margin: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.white-button{
    background-color: var(--color-secondary);
    color: var(--color-primary);

}

.black-button{
    background-color: var(--color-primary) ;
    color: var(--color-secondary);

} 
.purple-button{
    background-color: var(--color-accessory);
    color: var(--color-secondary);
    max-width: 150px;
} 


/* header */

header{
    background-color: var(--color-header-bg);
}

#hero{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x:30%;
}

.hero-content{
    max-width: 800px;
    min-height: 500px;
    color: var(--color-secondary);
    text-align: center;
}

.main-paragraph{
    font-size: 1.4em;
    margin-bottom: 10px;
}

.action-buttons-header{
    padding-top: 20px;

}


/* main */

h2{
    font-size: 2.5em;
    padding-bottom: 20px;
}

.section-paragraph{
    font-size: 1.2em;
    padding-top: 40px;
}

.text-config{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
 
.f-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.reverse{
    display: flex;
    flex-flow: row-reverse wrap;
} 

.photo{
    width: 50%;
}

.box-size{
    max-width: 300px;

}

.f-column{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.question{
    font-size: 1.8em;
    padding: 50px;
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    background-position: 50% 20%;
} 

/* footer */

footer{
    background-color: var(--color-primary);
    color: var(--color-accessory);
    padding: 20px 50px;
}

.italian-flag{
    width: 10%;
}


.top-footer{
    max-width: 250px;
    padding: 0px 10px;
}

.text-top-footer{
    font-size: 1.8em;
    padding-bottom: 20px;
  }

.country-option{
    display: flex;
    padding-bottom: 20px;
    color: var(--color-secondary);
}

.icons{
    display: flex;
    flex-direction: row wrap;
}

.fa-brands{
    padding-right: 20px;
    color: var(--color-secondary);
}

.list-title{
    padding: 5px 10px;
}

.f-footer-top{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-bottom: 2px solid var(--color-accessory);
}

.f-footer-bottom{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}


/* summary list entity modification */

summary {
    padding-left: 5px;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none
}
  
summary::after {
    content: ' \02C5';
    font-weight: bolder;
}

  details[open] summary:after {
    content: " \02C3";
    font-weight: bolder;
  }

/* layout waves */

.wave{
    background-image: url(../img/wave.svg);
    min-width: 1200px;
    min-height: 80px;
    filter: opacity(0.035) drop-shadow(0 0 #F6F6F6);
    display: flex;
    background-repeat: repeat;
}

.reverse-wave{
    background-image: url(../img/wave.svg);
    min-width: 1200px;
    min-height: 80px;
    filter: opacity(0.035) drop-shadow(0 0 #F6F6F6);
    display: flex;
    transform: rotate(180deg);

}